@font-face {
  font-family: yekan;
  src: url("./font/Yekan.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yekan;
}

.swal2-confirm {
  box-shadow: none !important;
}

.swal2-close {
  box-shadow: none !important;
}

.swal2-popup{
  background:#533b7c !important;
  color:aliceblue !important
}

